body{
  background-color: #deeaee;
}

h1{
  text-align: center;
  color:Purple;
}
.wat{
  text-align: center;
}
p{
  color:#4040a1;
}
h2{
  text-align: center;
  color: #563f46;
}
h3{
  color: #4040a1;
}
ul{
  color: #e06377;
}
.txt{
  text-align: center;
}
